python-dateutil==2.9.0.post0
absl-py==2.1.0
pandas==2.2.3
toml==0.10.2
urllib3==2.3.0
mdurl==0.1.2
langsmith==0.3.8
greenlet==3.1.1
propcache==0.2.1
setproctitle==1.3.5
h11==0.14.0
frozenlist==1.5.0
MarkupSafe==3.0.2
zstandard==0.23.0
pytorch-lightning==1.9.0
annotated-types==0.7.0
tqdm==4.67.1
aiohttp==3.11.12
pydantic==2.10.6
protobuf==5.29.3
async-timeout==4.0.3
voluptuous==0.13.1
fsspec==2024.6.1
prodigyopt==1.0
grpcio==1.70.0
sentry-sdk==2.22.0
Werkzeug==3.1.3
multidict==6.1.0
sniffio==1.3.1
smmap==5.0.2
tenacity==9.0.0
wcwidth==0.2.13
rich==13.7.0
packaging==24.2
mpmath==1.3.0
einops==0.7.0
Markdown==3.7
sympy==1.13.1
exceptiongroup==1.2.2
httpx==0.28.1
Jinja2==3.1.4
httpcore==1.0.7
yarl==1.18.3
wandb==0.19.7
docker-pycreds==0.4.0
jsonpatch==1.33
pydantic_core==2.27.2
jsonpointer==3.0.0
tensorboard==2.19.0
networkx==3.3
filelock==3.13.1
easygui==0.98.3
numpy==1.26.4
GitPython==3.1.44
lion-pytorch==0.0.6
platformdirs==4.3.6
anyio==4.8.0
requests-toolbelt==1.0.0
aiohappyeyeballs==2.4.6
altair==4.2.2
ftfy==6.1.1
torchmetrics==1.6.1
toolz==1.0.0
tzdata==2025.1
tensorboard-data-server==0.7.2
Pygments==2.19.1
diffusers==0.25.0
gitdb==4.0.12
imagesize==1.4.1
langchain-text-splitters==0.3.6
typing_extensions==4.12.2
aiosignal==1.3.2
regex==2024.11.6
lightning-utilities==0.12.0
markdown-it-py==3.0.0
entrypoints==0.4
orjson==3.10.15
SQLAlchemy==2.0.38
httpx-sse==0.4.0
python-dateutil==2.9.0.post0
safetensors==0.5.3
nvidia-nvjitlink-cu12==12.4.127
groq==0.18.0
openai==1.65.5
nvidia-curand-cu12==10.3.5.147
html2text==2024.2.26
referencing==0.36.2
parso==0.8.4
pyvi==0.1.1
PyYAML==6.0.2
xxhash==3.5.0
python-crfsuite==0.9.11
pickleshare==0.7.5
dataclasses-json==0.6.7
playwright==1.50.0
mpire==2.10.2
threadpoolctl==3.5.0
executing==2.1.0
charset-normalizer==3.4.1
debugpy==1.8.13
pyzmq==26.2.1
decorator==5.2.1
soupsieve==2.6
wheel==0.45.1
scrapegraphai==1.42.0
click==8.1.8
watchdog==6.0.0
jupyter_core==5.7.2
simpleeval==1.0.3
nvidia-cudnn-cu12==9.1.0.70
six==1.17.0
tiktoken==0.9.0
duckduckgo_search==7.5.1
nvidia-cublas-cu12==12.4.5.8
pip==25.0
huggingface-hub==0.29.2
cachetools==5.5.2
requests==2.32.3
jsonschema-specifications==2024.10.1
botocore==1.37.10
scikit-learn==1.6.1
asttokens==3.0.0
free_proxy==1.1.3
transformers==4.49.0
langchain==0.3.18
marshmallow==3.26.1
jedi==0.19.2
beautifulsoup4==4.13.3
wcwidth==0.2.13
langchain-mistralai==0.2.7
nvidia-cusolver-cu12==11.6.1.9
packaging==24.2
prompt_toolkit==3.0.50
lxml==5.3.1
comm==0.2.2
tabulate==0.9.0
psutil==7.0.0
exceptiongroup==1.2.2
ipython==8.34.0
sentence-transformers==3.4.1
torch==2.6.0
nvidia-cuda-runtime-cu12==12.4.127
accelerate==1.5.2
scipy==1.15.2
blinker==1.9.0
certifi==2025.1.31
langchain-community==0.3.17
typing-inspect==0.9.0
dill==0.3.8
pydeck==0.9.1
mypy-extensions==1.0.0
jupyter_client==8.6.3
tornado==6.4.2
langchain-core==0.3.43
zipp==3.21.0
traitlets==5.14.3
nvidia-nvtx-cu12==12.4.127
pypdf==5.3.1
sklearn-crfsuite==0.5.0
jmespath==1.0.1
matplotlib-inline==0.1.7
langchain-openai==0.3.8
rpds-py==0.23.1
pexpect==4.9.0
nvidia-cufft-cu12==11.2.1.3
jsonschema==4.23.0
tokenizers==0.21.0
ollama==0.4.7
faiss-cpu==1.10.0
ipykernel==6.29.5
stack_data==0.6.3
pure_eval==0.2.3
setuptools==75.8.0
pillow==11.1.0
s3transfer==0.11.4
datasets==3.3.2
platformdirs==4.3.6
idna==3.10
pyee==12.1.1
multiprocess==0.70.16
nvidia-cuda-nvrtc-cu12==12.4.127
distro==1.9.0
pydantic-settings==2.8.1
nvidia-cusparselt-cu12==0.6.2
Pygments==2.19.1
nest_asyncio==1.6.0
nvidia-cuda-cupti-cu12==12.4.127
minify_html==0.15.0
boto3==1.37.10
nvidia-cusparse-cu12==12.3.1.170
joblib==1.4.2
importlib_metadata==8.6.1
triton==3.2.0
undetected-playwright==0.3.0
semchunk==3.1.3
typing_extensions==4.12.2
streamlit==1.43.1
primp==0.14.0
ptyprocess==0.7.0
langchain-ollama==0.2.3
jiter==0.8.2
pytz==2025.1
pyarrow==19.0.1
nvidia-nccl-cu12==2.21.5
attrs==25.1.0
langchain-aws==0.2.15
python-dotenv==1.0.1
jaraco.collections==5.1.0
autocommand==2.2.2
platformdirs==4.2.2
jaraco.context==5.3.0
importlib_metadata==8.0.0
backports.tarfile==1.2.0
packaging==24.2
more-itertools==10.3.0
typeguard==4.3.0
jaraco.functools==4.0.1
wheel==0.43.0
jaraco.text==3.12.1
inflect==7.3.1
tomli==2.0.1
typing_extensions==4.12.2
zipp==3.19.2
